[submodule ".vim/bundle/fish-syntax"]
	path = submodules/vim-bundle/fish-syntax
	url = git://github.com/dag/vim-fish.git
[submodule ".vim/bundle/vim-nerdtree-tabs"]
	path = submodules/vim-bundle/vim-nerdtree-tabs
	url = git://github.com/jistr/vim-nerdtree-tabs.git
[submodule ".vim/bundle/nerdtree"]
	path = submodules/vim-bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/swift.vim"]
	path = submodules/vim-bundle/swift.vim
	url = git://github.com/keith/swift.vim.git
[submodule "submodules/capitaine-cursors"]
	path = submodules/resources/capitaine-cursors
	url = git://github.com/keeferrourke/capitaine-cursors.git
