[submodule ".vim/bundle/fish-syntax"]
	path = .config/vim/bundle/fish-syntax
	url = git://github.com/dag/vim-fish.git
[submodule ".vim/bundle/vim-nerdtree-tabs"]
	path = .config/vim/bundle/vim-nerdtree-tabs
	url = git://github.com/jistr/vim-nerdtree-tabs.git
[submodule ".vim/bundle/nerdtree"]
	path = .config/vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "submodules/capitaine-cursors"]
	path = submodules/resources/capitaine-cursors
	url = git://github.com/keeferrourke/capitaine-cursors.git
[submodule "submodules/vim-bundle/vim-colors-solarized"]
	path = .config/vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .config/vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/syntastic"]
	path = .config/vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule ".config/vim/bundle/vim-git"]
	path = .config/vim/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule ".config/vim/bundle/securemodelines"]
	path = .config/vim/bundle/securemodelines
	url = git://github.com/ciaranm/securemodelines.git
[submodule "editorconfig-vim"]
	path = editorconfig-vim
	url = git://github.com/editorconfig/editorconfig-vim.git
[submodule ".config/vim/bundle/editorconfig-vim"]
	path = .config/vim/bundle/editorconfig-vim
	url = git://github.com/editorconfig/editorconfig-vim.git
[submodule ".config/vim/bundle/incsearch.vim"]
	path = .config/vim/bundle/incsearch.vim
	url = git://github.com/haya14busa/incsearch.vim.git
[submodule ".config/vim/bundle/gundo.vim"]
	path = .config/vim/bundle/gundo.vim
	url = git://github.com/sjl/gundo.vim.git
[submodule ".config/vim/bundle/rust.vim"]
	path = .config/vim/bundle/rust.vim
	url = git://github.com/rust-lang/rust.vim.git
