! --- ~/.Xresources ------------------------------------------------------------
! ------------------------------------------------------------------------------
! --- generated with 4bit Terminal Color Scheme Designer -----------------------
! ------------------------------------------------------------------------------
! --- http://ciembor.github.com/4bit -------------------------------------------
! ------------------------------------------------------------------------------

! --- special colors ---

*background: #1a1a1a
*foreground: #d9e6f2

! --- standard colors ---

! black
*color0: #000000

! bright_black
*color8: #111111

! red
*color1: #ff0000

! bright_red
*color9: #ff4444

! green
*color2: #33ff33

! bright_green
*color10: #99ff99

! yellow
*color3: #eeee00

! bright_yellow
*color11: #ffff88

! blue
*color4: #4e4eff

! bright_blue
*color12: #7777ff

! magenta
*color5: #dd00dd

! bright_magenta
*color13: #ff77ff

! cyan
*color6: #00dddd

! bright_cyan
*color14: #11ffff

! white
*color7: #d9d9d9

! bright_white
*color15: #ffffff


! ------------------------------------------------------------------------------
! --- end of terminal colors section -------------------------------------------
! ------------------------------------------------------------------------------

Xcursor.theme: OSX-ElCap

! ------------------------------------------------------------------------------
! --- end of cursor theme section ----------------------------------------------
! ------------------------------------------------------------------------------
